body {
  display: flex;
  flex-direction: row;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

nav {
  flex-shrink: 0;
  max-height: 100vh;
  padding: 0.5em 2em;
  background-color: #EEE;
  overflow: auto;
}

main {
  flex: 1;
  padding: 0.5em 2em;
}
