body {
  display: flex;
  flex-direction: row;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

nav, main {
  box-sizing: border-box;
  max-height: 100vh;
  padding: 0.5em 2em;
  overflow: auto;
}

nav {
  flex-shrink: 0;
  background-color: #EEE;
}

main {
  flex: 1;
}

main img {
  max-width: 100%;
}

body:not([data-view="general"]) [data-view="general"],
body:not([data-view="detail"]) [data-view="detail"] {
  display: none;
}
