body {
  display: flex;
  flex-direction: row;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

nav, main {
  box-sizing: border-box;
  max-height: 100vh;
  padding: 0.5em 2em;
  overflow: auto;
}

nav {
  flex-shrink: 0;
  background-color: #EEE;
}

main {
  flex: 1;
}
